<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex00: Markdown Cheatsheet</title>
</head>
<body>
    <h1>Ex00: Markdown Cheatsheet</h1>
    <h2>Headers</h2>
    <p>
        # H1<br>
        ## H2<br>
        ### H3<br>
        #### H4<br>
        ##### H5<br>
        ###### H6<br>
    </p>
    <h2>Emphasis</h2>
    <p>
        *italic* or _italic_<br>
        **bold** or __bold__<br>
        ~~strikethrough~~<br>
    </p>
    <h2>Lists</h2>
    <p>
        Unordered:<br>
        - Item 1<br>
        - Item 2<br>
        - Item 3<br>
        Ordered:<br>
        1. Item 1<br>
        2. Item 2<br>
        3. Item 3<br>
    </p>
    <h2>Links</h2>
    <p>
        [link text](url)
    </p>
    <h2>Images</h2>
    <p>
        ![alt text](image url)
    </p>
    <h2>Code</h2>
    <p>
        Inline `code`<br>
        Block code:<br>
        ```
        code block
        ```
    </p>
    <h2>Blockquotes</h2>
    <p>
        > blockquote
    </p>
    <h2>Horizontal Rule</h2>
    <p>
        ---<br>
        ***<br>
        ___<br>
    </p>
    <h2>Tables</h2>
    <p>
        | Header 1 | Header 2 |<br>
        | --- | --- |<br>
        | Cell 1 | Cell 2 |<br>
        | Cell 3 | Cell 4 |<br>
    </p>
</body>
</html>
